@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,200&display=swap");
:root {
    --primary-color: rgb(106, 132, 219);
    --primary-color-darker: rgb(69, 95, 180);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: "Noto Serif", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background: var(--primary-color)
    
}

.container {
    max-width: 640px;
    margin: 40px auto;
    background: #02cfb4;
    padding: 20px;
    border-radius: 10px;
}

form input,form label,form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}
form button {
    border: none;
    background: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background:  var(--primary-color-darker);
}
